repos:

-   repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v4.1.0
    hooks:
    - id: trailing-whitespace
    - id: end-of-file-fixer
    - id: check-docstring-first
    - id: check-json
    - id: check-yaml
    - id: pretty-format-json
      args: ["--autofix", "--indent=2", "--no-sort-keys"]

-   repo: https://github.com/ambv/black
    rev: 22.1.0
    hooks:
    - id: black
      args: ["--line-length", "100"]

-   repo: https://gitlab.com/pycqa/flake8
    rev: 3.9.2
    hooks:
    - id: flake8

-   repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
    - id: isort

-   repo: https://github.com/deathbeds/prenotebook
    rev: f5bdb72a400f1a56fe88109936c83aa12cc349fa
    hooks:
    - id: prenotebook

-   repo: https://github.com/myint/rstcheck
    rev: master
    hooks:
    -   id: rstcheck
